.ptitle {
    color: black;
    text-decoration: none;
}
.card {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    float: none;
    align-items: center;
}
.card-img {
    max-height: 30%;
}

.usertitle {
    text-align: center;
}

.likesave {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    
}